@inherits WebViewPage
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Market Place</title>
    @*<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Montserrat" rel="stylesheet">*@
    @*<link rel="stylesheet" href="~/css/basic-company.css">*@
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>

<body>
    @Html.Sitecore().Placeholder("header")
    @Html.Sitecore().Placeholder("main")
    @Html.Sitecore().Placeholder("footer")

    @* Generally, disabling JavaScript interactivity in an MVC site when editing is a good idea. *@
@*if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <script src="~/js/basic-company.js"></script>
    }*@
@{
    var babelSource = "https://unpkg.com/@babel/standalone/babel.min.js";
}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="@babelSource"></script>
    <script src="https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/f0c39313f4.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
    <script src="~/js/main.js"></script>
</body>
</html>