<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="BasicCompany.Feature.Accounts.Pipelines.RegisterWebApiRoutes, BasicCompany.Feature.Accounts" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"></processor>
      </initialize>
    </pipelines>
    <services>
      <configurator type="BasicCompany.Feature.Accounts.ServicesConfigurator, BasicCompany.Feature.Accounts" />
    </services>
  </sitecore>
</configuration>